
#root {
    -fx-background-color: #2e2e2e; /* Dark Gray */
}

/* Toolbar panel (left side) */
#toolPanel {
    -fx-background-color: #3c3c3c; /* Darker Gray */
    -fx-border-color:black; /* Slightly lighter gray border */
    -fx-border-width: 1px;
}


#externalFunctions {
    -fx-background-color: #5b5b5b; /* Dark Gray for the menu bar */
    -fx-border-color: black;
    -fx-border-width: 0 0 1px 0;
    -fx-spacing:10px;

}


#settings {
    -fx-background-color: #3c3c3c;
    -fx-border-color: black;
    -fx-border-width: 1px;

}


#actionPanel {
    -fx-background-color: #1e1e1e; /* Black canvas */
    -fx-border-color: black;
    -fx-border-width: 2px;


}


#currentActive
 {
    -fx-background-color: gray; /* Slightly lighter black */
    -fx-border-color: black;
    -fx-border-width: 1px;

}

#DrawingSpace
{
    -fx-background-color:white;
}

#toolHolder,#eraserHolder,#recHolder
{
    -fx-background-color: white;
    -fx-border-color:black;
}
#toolHolder,#eraserHolder,#recHolder:hover
{
    -fx-width:52;
    -fx-cursor:hand;
}
#ExLabels
{
    -fx-font-size:20px;
    -fx-text-fill:white;
     -fx-spacing:10px;

     /* Center the button */
     -fx-translate-x: 100%;
     -fx-translate-y: 100%;

     -fx-alignment: center;

     /* Initial state (closed) */
     -fx-translate-x: 100%;
     -fx-translate-y: 100%;
     -fx-opacity: 1;
     -fx-scale-x: 0.8;
     -fx-scale-y: 0.8;

         /* Smooth transitions */
         -fx-transition: all 0.3s ease-in-out;
}
#ExLabels:hover
{
    -fx-cursor:hand;
    -fx-text-fill:black;
    -fx-font-size:18px;
}
#windowsBtns
{
    -fx-spacing:20px;
}

#windowsBtns:hover
{
    -fx-cursor:hand;
    -fx-background-color:red;
    -fx-size:10px;
}
